/* Checkout.css */

.checkout-page {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: #f9f9f9;
    animation: fadeIn 0.4s ease-in;
  }
  
  .checkout-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .checkout-information {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .checkout-information h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .checkout-information form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .checkout-information label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .checkout-information input[type="text"],
  .checkout-information input[type="email"],
  .checkout-information input[type="tel"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .city-state-zip {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .city-state-zip label {
    font-weight: bold;
  }
  
  .city-state-zip input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .payment-info {
    margin-top: 40px;
  }
  
  .payment-info label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .payment-info input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .place-order {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 30px;
  }
  .place-order:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  

  
  .checkout-summary {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
  }

